

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
}

header,
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
}

h1 {
  font-size: 1.75rem;
}


.hero {
  max-width: 1500px;
  margin: 0 auto;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

footer p {
  font-size: 0.9rem;
}
