:root {
  --primary: #00ffcc;
  --background: #0a0a0a;
  --card: #1f1f1f;
  --text: #ffffff;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text);
  text-align: center;
}

header {
  padding: 20px;
}

.logo {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 80px
}


h1 {
  font-family: 'Orbitron', sans-serif;
  color: var(--primary);
}

.clock-container {
  background-color: var(--card);
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.time-display {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

button {
  background-color: var(--primary);
  color: #000;
  border: none;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

input[type="time"] {
  padding: 8px;
  margin: 10px 0;
}

#status {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Light Theme */
body.light {
  --background: #f4f4f4;
  --card: #ffffff;
  --text: #000000;
}
