@media (min-width: 768px) {

  #menu-button {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    background: none;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
